/*
-------------------------------------------------------


	




-------------------------------------------------------
*/




    body {
      color: #5a5a5a;
    }
    
    
    /* $header */
    header.main {
	    position: relative;
	    z-index: 5;
    }
    
    header.main nav {
	    height: 70px;
	    padding-top: 40px;
	    border-bottom: solid 1px #5a5a5a;    
	    top: 0;
	    opacity: 1;
	    position: fixed;
	    left: 50%;
	    margin-left: -580px;
	    
    }
    header.main section {
	    height: 400px;
	    padding-top: 200px;	  
	    background-size: 100%; 
    }
    
    /* individual banners */
    header.main section.bridge {
	    background: url(../img/backgrounds/second-chance.jpg);
    }
    header.main section.ubuntu {
	    background: url(../img/backgrounds/new.jpg)
    }
    
    header.main section .fixed {
	    /* position: fixed; */
	    top: 350px;
	    left: 50%;
	    /* margin-left: -580px; */
    }
    header.main section .fixed time, 
    header.main section .fixed h1,  
    header.main section .fixed p {
	    text-align: center;
    }
    header.main section .fixed time a {
	    font-size: 14px;
	    line-height: 1.8;
	    letter-spacing: 4px;
	    display: block;
    }
    header.main section .fixed h1 a {
	    line-height: .9;
	    letter-spacing: -2px;
	    width: 100%;
	    font-weight: 800;
	    font-size: 96px;
    }
    header.main section .fixed p a {
	    
    }
    header.main section .fixed a {
	    color: white;
    }
    header.main section .fixed a:hover {
	    background: none;
    }
    
    
    
    

    /* $content */
    body > .content { 
    	margin-top: 40px; 
    }
    
    /* sidebar */
    #tweet ul { 
	    margin: 0;
	    list-style: none;
    }
    #tweet ul li {
	    margin-bottom: 1em;
    }
    
    figure img {
	    margin-bottom: 10px;
    }
    
    aside section {
	    padding: 10px 0;
	    border-bottom: double #5A5A5A;
    }
    
    aside section:first-of-type {
	    padding-top: 0;
    }
    
    aside section:last-of-type {
	    border-bottom: none;
    }
    
    
    aside section h3 {
	    margin-top: 0;
    }
    
    /* blog post */
    .blog-holder article { 
	    padding-left: 40px;
	    position: relative; 
	    border-left: solid 1px #ccc;
	    margin-bottom: 20px;
   }
   
   .blog-holder time {
	   position: absolute; 
	   left: -15px;
	   top: 10px;
	   width: 30px; 
	   background: white;
	   color: #ccc;
	   text-align: center;
   }
   
   .blog-holder h2 {
	   margin-top: 0;
   }

    /* strip */
	.strip { 
		background: url('/img/border.png') repeat-y;
		position: fixed;
		right: auto;
		top: 0;
		width: 10px;
		margin-top: -40%;
		height: 200%;
		background-position: 0 100%;
		z-index: 0;
	}    
	
	.footer { 
		margin-top: 40px; 
		background: #333;
	}
	
	.footer .container {
		padding-top: 10px;
	}


	/* Font */
	h1, h2, h3, h4, h5, a, p { font-family: 'Ubuntu', sans-serif; font-weight: 300; }
	
	h2 { font-size: 32px; }
	h3 { font-size: 26px; }
	
	
	
	a { color: #fea002; }
	a:hover { background: #fea002; color: white; text-decoration: none; }


	footer { 
		color: #fff; 

	}

    /* RESPONSIVE CSS
    -------------------------------------------------- */
    
    @media (max-width: 1200px) {
	    header.main nav { margin-left: -480px;}
    }
    @media (max-width: 979px) {
    
    	body {
	    	padding: 0;
    	}
    	
    	.container {
	    	padding-left: 20px;
	    	padding-right: 20px;
    	}
    	
    	header.main nav {
	    	margin-left: -380px;
    	}

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }
      .carousel img {
        width: auto;
      }
      
      .strip {
	      display: none;
      }

      .content .row > section {
	      margin-bottom: 4em;
      }
      
      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }
    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }
      header.main nav {
	    	margin-left: 0;
	    	position: static;
	  }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }

      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }