@font-face {
    font-family: 'komika_axisregular';
    src: url('imports/fonts/KOMIKAX-webfont.eot');
    src: url('imports/fonts/KOMIKAX-webfont.eot?#iefix') format('embedded-opentype'),
         url('imports/fonts/KOMIKAX-webfont.woff2') format('woff2'),
         url('imports/fonts/KOMIKAX-webfont.woff') format('woff'),
         url('imports/fonts/KOMIKAX-webfont.ttf') format('truetype'),
         url('imports/fonts/KOMIKAX-webfont.svg#komika_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

::selection {
    background: rgba(0,0,0,0);
}

canvas {
    position: absolute !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
} 

#background {
    width: 1300px;
    height: 770px;
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: 1;
}