<div class="carousel slide">
	<div class="carousel-inner">
		{% for post in site.posts limit:1 %}
		
    	<div class="item active">
        	<img src="/img/slide1.jpeg" alt="">
        	<div class="container">
            	<div class="carousel-caption">
	            	<h1>{{ post.title }}</h1>
	            	<p class="lead">{{ post.introText }}</p>
	            	<a class="btn btn-large btn-primary" href="{{ post.url }}">Read More</a>
	            </div>
	        </div>
	    </div>
	    
	    {% endfor %}
	</div>
</div><!-- /.carousel -->