<header class="main">
	<nav class="container">
		<p><a href="/" title="home">Home</a></p>
	</nav>
	{% for post in site.posts %}
	{% if post.featured == true %}
	<section class="{{ post.background }}">
	    <div class="container fixed {{ post.text-color }} ">
	    	<time><a href="{{ post.url }}" title="{{ post.title }}">{{ post.date | date: "%d %b, %Y" }}</a></time>
	    	<h1><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
	    	<p><a href="{{ post.url }}" title="{{ post.title }}">{{ post.introText }}</a></p>	
	    </div>
	</section>
	{% endif %} 				
	{% endfor %}
</header>

