<div class="navbar-wrapper">
	<div class="container">
	    <div class="navbar navbar-inverse">
    	    <div class="navbar-inner">
	    		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		    		<span class="icon-bar"></span>
		    		<span class="icon-bar"></span>
		    		<span class="icon-bar"></span>
		    	</a>
		    	<!-- <a class="brand" href="#">Jack Le Riche</a> -->
		    	<div class="nav-collapse collapse">
			    	<ul class="nav">
				    	<li class="active"><a href="/">Home</a></li>
				    	<li><a href="/about/">About</a></li>
				    	<li><a href="/blog/">Blog</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!-- /.navbar-inner -->
		</div><!-- /.navbar -->
	</div> <!-- /.container -->
</div><!-- /.navbar-wrapper -->

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/img/slide1.jpeg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome</h1>
              <p class="lead">New site design</p>
              <a class="btn btn-large btn-primary" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- remove controls untill more posts are available
<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
-->
    </div><!-- /.carousel -->