<aside class="span3">
	<section>
		<h3>Quick Bio</h3>
		<p>Born and bred in Jersey Channel islands. Studied in Brighton, web developer turned HTML5 games developer. This is the web space of his musings and interests.</p>
	
	</section>
	<section>
		<script type="text/javascript" charset="utf-8">
		getTwitters('tweet', { 
			id: 'jackleriche', 
			count: 3, 
			enableLinks: true, 
			ignoreReplies: true, 
			clearContents: true,
			template: '"%text%" <a href="http://twitter.com/%user_screen_name%/statuses/%id_str%/">%time%</a>'
		});
		</script>
		<h3>Twitter</h3>
		<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/jackleriche" data-widget-id="430661683153887232">Tweets by @jackleriche</a>
		<script>
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>

	</section>
	<section>
		<h3>Strava</h3>
		<iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/6933693/latest-rides/bbefd55ad7b2881bb2cd55eda133515114359926'></iframe>
	</section>
	<section>
		<h3>Steam</h3>
		<a href="http://steamsignature.com"><img src="http://steamsignature.com/profile/english/76561197970958749.png" alt="" title="" /></a>
		
	</section>
	<section>
		<h3>What I'm reading</h3>
		<figure>
			<a href="http://www.amazon.co.uk/Foundation-HTML5-Canvas-Games-Entertainment/dp/1430232919" title="Foundation HTML5 Canvas: For Games and Entertainment" target="_BLANK">
			<img src="/img/books/foundation-canvas.jpeg" width="200" height="309" alt="Foundation HTML5 Canvas: For Games and Entertainment" /></a>
			<figcaption>Foundation HTML5 Canvas: For Games and Entertainment</figcaption>
		</figure>
	</section>
</aside>
