canvas {
    position: absolute !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
} 

#background { 
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-color:white;
	width: 1200px;
	height: 1000px;
}

#scaleDiv div.scene {
    position: absolute;
    overflow: hidden
}

#scaleDiv div.scene canvas {
    position: absolute;
}

@font-face {
    font-family: 'effra';
    src: url('imports/font/tnl_effra_he-webfont.eot');
    src: url('imports/font/tnl_effra_he-webfont.eot?#iefix') format('embedded-opentype'),
         url('imports/font/tnl_effra_he-webfont.woff2') format('woff2'),
         url('imports/font/tnl_effra_he-webfont.woff') format('woff'),
         url('imports/font/tnl_effra_he-webfont.ttf') format('truetype'),
         url('imports/font/tnl_effra_he-webfont.svg#tnl_effraheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}