* {
	padding:0;
	margin:0;
}

body {
	text-align: center;
	background: #242528;
	color: #8d8e90;
	font-family: myriad pro;	
}
a {
	color: #8d8e90;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.content {
    width: 960px;
    margin: 0 auto;
    background: white;
}
.content div.header {
	position: relative;
}
.content div.header .turns-left {
	position: absolute;
	font-family: myriad pro;
	right: 60px;
	top: 60px;
	height: 59px;
	width: 66px;
	background: url(../images/masterSS.png) no-repeat -934px -190px;
	font-size: 13px;
	color: white;
	padding-top: 22px;
	text-align: center;
	padding-left: 2px;
	font-weight: thin;
}

.content div.header h1 {
    width: 350px;
    text-indent: -9999px;
    background-size: 377%;
    margin: 0 auto;    
}
.content div.header p {
    color: #8d8e90;
    
}
#gameStats{
    display: block;
    height: 20px;
	width: 960px;
	padding: 10px;
    color: black;
}

#gameStats p#timer{
	width: 200px;
	float: left;
	text-align: left;
	font-family: myriad pro;
	padding: 0 0 0 10px;
}
#gameStats p#reset{
	width: 200px;
	float: right;
	text-align: right;
	padding: 0 10px 0 0;
	}

#gameStats .gameReset{
	width: 200px;
	float: right;
	text-align: right;
	font-family: myriad pro;
	padding: 0 10px 0 0;
	color: #fff;
	text-decoration:none;
	display:block;
}

#game {
	width: 845px;
	height: 555px;
	margin: 0 auto;
	display: block;
	padding: 20px;
	position: relative;
}

#cards {
	position: relative;
}
/* Define the 3D perspective view and dimension of each card. */
.card {
	-webkit-perspective: 600;
	perspective: 600;
	width: 197px;
	height: 125px;
	position: absolute;
	cursor: pointer;
}

#gameIntro {
	background:url(../images/startpage.png) top left no-repeat;
	padding: 80px 0;
	text-align: center;
	height: 330px;
}

#gameIntro a.button {
	background: white;
	border-radius: 5px;
	display: block;
	font-size: 30px;
	margin: 230px auto 0;
	padding: 10px;
	width: 150px;
	border: 3px solid #006438;
	color:#006438;
	text-decoration:none;
}

#gameIntro a.button:hover {
	background: #006438;
	color:#fff;
	text-decoration:none;
}


#gameComplete {
    
	background: rgba(255,255,255,0.8);
	text-align: center; 
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 15;
	top: 0;
	left: 0;
}

#gameComplete p {
	background: url(../images/masterSS.png) no-repeat;
	margin: 100px auto 0;
}

#gameComplete.winner p {
	background-position: -266px -40px;
	width: 431px;
	display: block;
	height: 100px;
}

#gameComplete.loser p {
	background-position: -705px -67px;
	width: 247px;
	display: block;
	height: 100px;
}

#gameComplete a.button {
	background: white;
	border-radius: 5px;
	display: block;
	font-size: 30px;
	margin: 50px auto 0;
	padding: 10px;
	width: 150px;
	border: 5px solid #006438;
	color:#006438;
	text-decoration:none;
}

#gameComplete p#top {
	font-size: 20px;
}

#gameComplete span {
	display: block;
	height: auto;
	width: auto;
	color: black;
}

#gameComplete .share p {
	color: black;
	background: none;
	width: auto;
	margin-top: 30px;
	height: auto;
}

#gameComplete .share .icon {
	margin: 0 auto;
	width: 210px;
	margin-top: 20px;
}

#gameComplete .share a {
	background: url(../images/masterSS.png) no-repeat;
	height: 30px;
	width: 30px;
	display: block;
	float: left;
	margin: 0 20px;
}

#gameComplete .share .twitter {
	background-position: -972px 0;
}
#gameComplete .share .facebook {
	background-position: -972px -82px;
}
#gameComplete .share .mail {
	background-position: -972px -42px;
}
#gameComplete input[type=text] {
	width: 450px;
	height: 30px;
	border: solid 2px black;
	margin-top: 5px;
	border-radius: 7px;
	font-size: 15px;
	padding-left: 5px;
	box-shadow: 2px 2px 6px #aaa;
}

#gameComplete input[type=submit] {
	background: #b5a16a; /* Old browsers */
	background: -moz-linear-gradient(left, #b5a16a 0%, #cc9426 50%, #ad925d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b5a16a), color-stop(50%,#cc9426), color-stop(100%,#ad925d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #b5a16a 0%,#cc9426 50%,#ad925d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #b5a16a 0%,#cc9426 50%,#ad925d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #b5a16a 0%,#cc9426 50%,#ad925d 100%); /* IE10+ */
	background: linear-gradient(to right, #b5a16a 0%,#cc9426 50%,#ad925d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5a16a', endColorstr='#ad925d',GradientType=1 ); /* IE6-9 */
	margin-left: -78px;
	border: none;
	height: 23px;
	width: 70px;
	position: relative;
	top: -2px;
	cursor: pointer;
	color:black;
	font-weight: bold;
}

.face {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition-property: opacity, transform, box-shadow;
	-webkit-transition-duration: .3s;
	-webkit-backface-visibility: hidden;
	transition-property: opacity, transform, box-shadow;
	transition-duration: .3s;
	backface-visibility: hidden;
}

.front {
	background: url(../images/masterSS.png) no-repeat 0 -159px;
	z-index: 10;
}
.back {
	background: #efefef url(../images/masterSS.png);
	-webkit-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
	z-index: 8;

}
.card:hover .face, .card-flipped .face {
	-webkit-box-shadow: 0 0 10px #aaa;
	box-shadow: 0 0 10px #aaa;
}
.card-flipped .front {
	-webkit-transform: rotate3d(0,1,0,180deg);
	transform: rotate3d(0,1,0,180deg);
	z-index: 8;
}
.card-flipped .back {
	-webkit-transform: rotate3d(0,1,0,0deg);
	transform: rotate3d(0,1,0,0deg);
	z-index: 10;
}
.card-removed {
	opacity: 0;
}

.wkdn {background-position: -197px -160px;}
.agfh, .agff, .hgdt, .hgdd, .hdjf, .hdjj, .thbv, .thbb, .lukf, .lukk, .hysg, .hyss, .ljgd, .ljgg, .kjgg, .kjgh {background-position: -395px -160px;}



#linkBack a.button {
	background: white;
	border-radius: 5px;
	display: block;
	font-size: 30px;
	margin: 30px auto 0;
	padding: 10px;
	width: 250px;
	border: 3px solid #006438;
	color:#006438;
	text-decoration:none;
}

#linkBack a.button:hover {
	background: #006438;
	color:#fff;
	text-decoration:none;
}

div.footer {
	width: 845px;
	margin: 0 auto;
	padding-bottom: 30px;
}
div.footer .return a { 
	color:;
	font-size: 13px;
	font: myriad pro;
	padding-left: 20px;
	background: url(../images/masterSS.png) no-repeat -919px -271px;
}
div.footer .right p { 
	font-size: 13px;
	font: myriad pro;
}
.oldie header, .oldie section, .oldie footer{
	display: block;
}

.ie8 #cards {
	height: 600px;
	display: block;
	margin-left: 55px;
	margin-top: 20px;
}
.ie8 #gameComplete {
	background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#90ffffff,endColorstr=#90ffffff); 
    zoom: 1;
    padding-top: 200px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.ie8 #gameComplete input[type=submit] {
	top: 4px;
}

